@import "tailwindcss";
#calendar {
  width: 1000px;
  /* max-width: 1000px; */
  margin: 0 auto;
}


.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  padding: 10px;
}
.css-1xgnz6y-MuiStack-root {
  border: none;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border: none;
}